body {
    font-family: "Droid Sans Mono";
    font-style: normal;
    font-weight: 400;
}

#clock {
    width: 250px;
    border:1px solid black;
    margin: 5px;
    padding: 3px;
    line-height: 200%;
    background-color: #CCCCCC;
    color: #BBBBBB;
}

.clock-on {
    color: #FFF;
    text-shadow: 0px 0px 5px #000;
}
